.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80vw;
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  margin: 10px;
}
