<div class="secao">
  <h3 class="text-center">Vamos conversar?</h3>
  <h5 class="text-center">Utilize este canal de atendimento para esclarecer dúvidas ou ainda nos enviar sugestões de melhoria</h5>
</div>

<div class="container">

  <form class="content" novalidate [formGroup]="formulario" (ngSubmit)="enviar()">
    <span class="success" *ngIf="enviado">
      <div class="alert alert-primary" role="alert">
        Recebemos sua mensagem, responderemos em breve!
      </div>   
     </span>
    <div class="form-row">
      
      <div class="form-group col-md">
        

        <input 
          type="text" 
          class="form-control" 
          placeholder="Nome" 
          autocomplete="off" 
          formControlName="nome"
          required
        >
       
        <input 
            type="email" 
            class="form-control " 
            placeholder="Email" 
            autocomplete="off" 
            formControlName="email"
            required
          >
       

        <textarea required class="form-control" formControlName="mensagem" placeholder="Mensagem" id="exampleFormControlTextarea1" rows="3"></textarea>
 
        <button 
        type="submit" 
        class="btn btn-primary btn-lg"
        [disabled]="!formulario.valid"
      >Enviar</button>
      </div>
      
     </div>
    </form>
</div>