<div class="container">
  <div class="content">
    <div class="sobre-nos">
      <h3 class="text-center">Sobre Nós</h3>
      <p>
        O Pássaro Urbano é um site de vendas coletivas, que disponibiliza ofertas de serviços em grupo, possibilitando
        assim que o valor de um serviço fique mais barato. O site disponibiliza combos de serviços em lugares como Bares
        e Restaurantes, Shows e Baladas, Clínicas de Estética e diversos outros segmentos.
      </p>
    </div>
    <div class="tutorial">
      <span><b>Como realizar uma compra : </b></span>
      <p class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wdPMJRLosx0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </p>
    </div>
  </div>
</div>